@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
$fontfamily: 'Lato';

@import '_null.scss';
@import '_ibg.scss';
@import '_header.scss';
@import '_footer.scss';

.wrapper {
  overflow: hidden;
  min-height: 100%;

}

.container {
  max-width: 1130px;
  padding: 0 15px; /*отступы чтобы не слипалось при адаптиве*/
  margin: 0 auto;
}

.page {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
}

.main-screen {
  flex: 1 0 100%;
  position: relative;


  &__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

}


.content {

}
.generation {
  padding: 120px 0;
  background-color: #f7f7f7;

  &__block {
  }

  @media (max-width: 900px) {
    padding: 80px 0;
  }
  @media (max-width: 600px) {
    padding: 30px 0;
  }
}

.block {
  text-align: center;

  &__icon {
    margin: 0 0 30px 0;
  }

  &__title {
    color: #353738;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 3.6px;
    margin-bottom: 18px;
  }

  &__text {
    color: #848789;
    font-size: 18px;
    line-height: 34px;

    &_j {
      text-align: justify;
      font-size: 16px;
      line-height: 30px;
      &:after {
        content: '';
        display: block;
        margin: 35px auto 0 auto;
        width: 50px;
        height: 1px;
        background-color: #ebebeb;
      }
    }
  }
  @media (max-width: 1500px) {
    &__text {
      &_j {
        &:after {
          margin: 15px auto 0 auto;
        }
      }
    }
  }
}


/*=============section BRANDS==============================================*/
.brands {
  &_rev {
    .brands__column {
      order: 1;
      &_big {
        order: 2;

      }
    }
  }

  &_last {

  }

  &__row {
    display: flex;
  }

  &__column {
    flex: 0 1 33.333%;

    &_big {
      flex: 0 1 66.667%;
    }
  }

  &__item {
  }
  

  &__content {
    position: relative;
    padding: 70px 65px 55px 65px;

    &:after{
      content: '';
      position: absolute;
      z-index: 1;
      bottom: -10px;
      left: 50%;
      margin: 0 0 0 -10px;
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid #fff;
    }
  }

  &__image {
    padding-bottom: 37.51%;
  }
  @media (max-width: 1500px) {
    &__content {
      padding: 40px 35px 30px 35px;
    }
  }
  @media (max-width: 1100px) {
    &_last {
      .brands__column {
        &:nth-child(1) {
          order: 2;
        }
        &:nth-child(2) {
          order: 1;
        }
        &:nth-child(3) {
          order: 3;
        }
      }
    
    }
    &__row {
      flex-direction: column;
    }
  }
}
.item-block {
  display: block;
  position: relative;
  height: 100%;

  &__logo {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(100, 194, 158, 0.5);
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    span {
      margin: 10px 0 0 0;
      font-size: 14px;
      font-weight: 700;
      letter-spacing: 2.8px;
      text-transform: uppercase;
      color: #fff;
    }
  }

  &__image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  &:hover {
    .item-block__logo{
      opacity: 1;
      visibility: visible;
    }
  }
  @media (max-width: 1100px) {
    height: auto;
    padding-bottom: 70%;
  }
}

/*============block SLIDER==============================*/

.slider {
  background-color: #f7f7f7;
  padding: 120px 0 60px 0;
  text-align: center;

  &__body {
  }

  &__item {

  }

  &__icon {
    margin-bottom: 35px;
  }

  &__title {
    margin-bottom: 20px;
    color: #353738;
    font-size: 18px;
    font-weight: 700;
    span {
      font-weight: 300;
      color: #848789
    }
  }

  &__text {

    color: #848789;
    font-size: 24px;
    font-style: italic;
    line-height: 34px;
  }
}


/*========block SHOP====================================*/
.shop {

  &__body {
    display: flex;
  }

  &__column {
    flex: 0 1 16.666%;

    &_big {
      flex: 0 1 33.333%;
    }
  }

  &__block {
  }

  &__footer {
    padding: 75px 0;
    text-align: center;
    background-color: #252f35;
  }

  &__btn {
    display: inline-block;
    height: 50px;
    padding: 0 60px;
    line-height: 48px;
    letter-spacing: 2.8px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    border: 1px solid rgba(255, 255, 255, 0.5);
    color: #fff;
  }

  @media (max-width: 1100px) {
    &__body {
      flex-wrap: wrap;
    }
    &__column {
      flex: 0 1 50%;

      &:first-child {
        flex: 1 1 100%;
      }
      &:last-child {
        flex: 1 1 100%;
      }
    }
    &__btn  {
      padding: 0 30px;
    }
    &__footer {
      padding: 50px 0;
    }
  }
}
.shop-block {
  height: 100%;

  &__row {
    display: flex;
  }

  &__column {
    flex: 0 1 50%;
  }

  &__item {
    height: auto;
    padding: 0 0 50% 0;

    &_big {
      padding: 0 0 200.5% 0;

    }

    &_1 {
      padding: 0 0 100% 0;
    }
  }
}




